.homeMain{
    width: 100%;
    background-color: white;
    padding: 20px;
    display: absolute;
    margin-top: 50px;
    margin-bottom: 50px;
    

}
.items{
    margin-top: 40px; 
    width: 250px;
    height: 270px;
    border-radius: 5px;
    border: 1px solid rgb(176, 231, 176);
    display: inline-block;
    margin-left: 30px;
    padding-left: 40px;
    padding-top: 10px;
    color:rgb(15, 139, 15) ;

}
h6{
    padding-top: 10px;
}